.article {
    margin-bottom: 20px;
    width: 600px;
    margin-left: 20%;
}

.article:hover {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, .35);
}

.article .ant-card-body {
    padding: 14px 24px;
}

.article h3 {
    font-weight: 700;
    font-size: 17px;
}

.article .abstract {
    margin-bottom: 5px;
}

.article .tag span{
    margin-right: 10px;
    font-size: 13px;
}