.resume {
    position: relative;
    padding: 10px;
    left: 0;
    width: 100%;
    top: 0;
    z-index: 3;
    background-color: #85ada3;
}

.resume .headerIcon {
    cursor: pointer;
    position: fixed;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    left: 10px;
    top: 10px;
    animation: headRotate 5s linear infinite;
    
}

@keyframes headRotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ant-carousel .slick-slide {
    position: relative;
    text-align: center;
    height: 100vh;
    color: white;
    overflow: hidden;

}

.resume::-webkit-scrollbar {
    display: none;
}

.resume .next {
    position: fixed;
    font-size: 50px;
    bottom: 15px;
    color: white;
    animation: next 2s ease infinite ;
    left: 0;
    right: 0;
    cursor: pointer;
}
@keyframes next {
    form {
        transform: translateY(0px);
        opacity: 1;
    }
    to {
        transform: translateY(-15px);
        opacity: 0;
    }
}

.dots {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.dots .dotItem {
    display: block;
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 0.6;
}
.dots .Item0 {
    color: #9d946d;
 }
.dots .Item1 {
    color: #0e8d82;
}
.dots .Item2 {
    color: #4b5b8a;
}
.dots .Item3 {
    color: #925b4b;
}
.dots .Item4 {
    color: #48829c;
}

.dots .curItem {
    display: block;
    font-size: 20px;
    color: aqua;
    margin-bottom: 10px;
    cursor: pointer;
    opacity: 1;
}
