.headerNav {
    background-color: rgba(0, 0, 0, .35);
    margin-bottom: 0;
    height: 40px;
}

.headerNav .nav {
    margin-left: 30%;
}

.nav .item {
    text-align: center;
    display: inline-block;
    color: white;
    height: 40px;
    line-height: 40px;
    margin-right: 20px;
    font-size: 15px;
    width: 70px;
}

.nav .item:hover {
    color: #66ccff;
    background: rgba(0, 0, 0, .35);
}

.searchWrapper {
    position: relative;
    /* margin-right: 20%; */
    float: right;
    height: 40px;
    line-height: 40px;
}

.search {
    border: none;
    height: 40px;
    border-radius: 5px;
    padding-left: 20px;
    padding-right: 30px;
    width: 200px;
    border: 1px solid #66ccff;
}

.searchIcon {
    position: relative;
    right: 30px;
    cursor: pointer;
    width: 30px;
    font-size: 20px;
    vertical-align: middle;
}

.menu {
    margin-left: 15%;
}

@media (max-width: 767px) {
    .searchWrapper {
        position: relative;
        float: right;
        height: 40px;
        line-height: 40px;
        margin-right: 0;
    }
    .search {
        border: none;
        height: 40px;
        border-radius: 5px;
        padding-left: 20px;
        padding-right: 30px;
        width: 200px;
        float: right;
        border: 1px solid #66ccff;
    }
    .searchIcon {
        position: absolute;
        right: 0px;
        top: 50%;
        transform: translateY(-50%);
    }
    .menu {
        margin-left: 0;
        width: 100%;
    }
}