.about {
    width: 100%;
    height: 100vh;
    margin-top: 10%;
    color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

.about .title {
    font-size: 50px;
}

.about .tagItem {
    display: inline-block;
    font-size: 30px;
}

.tagItem .tagIcon {
    display: block;
    height: 90px;
    width: 90px;
    line-height: 90px;
    font-size: 40px;
    background-color:  rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 20px;
    cursor: pointer;
    transition: 1s;
}

.tagItem .tagIcon:hover {
    transform: scale(1.1);
}