.undergo {
    height: 100vh;
}

.undergo .title {
    font-size: 35px;
}

.undergo .card{
    margin: 0 20px 20px;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 500px;
    height: 370px;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
}

.undergo .card .react {
    display: inline-block;
    position: relative;
    width: 150px;
    animation: App-logo-spin 10s infinite linear;
}

@media screen and (max-width: 450px) {
    .undergo .card {
        width: 80%;
        height: 41%;
        margin-bottom: 5px;
    }

    .undergo .card .react {
        width: 50px;
    }

    .undergo .title {
        margin: 0;
    }
}

@keyframes App-logo-spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
  

.undergo .card .cardTitle {
    font-size: 22px;
    color: #8f594a;
    font-weight: 600;
}

.undergo .card .cardRight {
    color: #8f594a;
    display: inline-block;
    vertical-align: middle;
    margin-top: 0;
}

.undergo .card .cardRight .cardTitle {
    margin: 0 auto;
}

.undergo .card .cardRight div {
    font-weight: 600;
    font-size: 15px;
    margin: 0;
}

.undergo .card .cardRight ul {
    margin: 0;
    padding: 0;
}

.undergo .card .cardRight ul li {
    margin: 2px 0;
}

.undergo .card .cardRight ul span {
    color:  #333;
    font-size: 16px;
}
