.Header {
    background-color: #f0f3f5;
    height: 100%;
    position: relative;
}
 
.Header .title {
    margin-left: 15%;
    width: 260px;;
}

.Header .title .logo {
    color: #66ccff;
    font-size: 30px;
    border-bottom: 3px;
    border-bottom: 1px solid #ffffff;
}

.Header .title .dsc {
    font-size: 20px;
    color: #27a;
}

@media (max-width: 747px) {
    .Header .title {
        margin-left: 0;
    }
}